body {
    background-color: #6796b4;
}
.radius {
    width: 600px;
    height: 700px;
    /*margin: 0 auto;*/
    margin: auto auto auto;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.11);
    border-radius:6px;
    -moz-border-radius:5px;
    -khtml-border-radius:10px;
    color: white;
    word-wrap: break-word;
    resize: none;
    overflow: inherit;
    margin-top: 1px;
}
.page {
    max-width: 530px;
    margin: 150px auto;
}
.button {
    margin-right: 50%;
    margin-left: 150%;
}
p {
    margin: 0 auto;
    font-size: 200px;
    color: white;
}
a {
    position: absolute;
    border: solid ;
    text-decoration: none;
    color: white;
    border-left: 10px;
    border-right: 10px;
    padding: 10px 20px;
    margin:  10px 140px;
    -moz-margin-start: 170px;
}
.version {
    font-size: 10px;
    float: right;
    padding-top: 100px;
}

.link {
    padding: 10px;
    border-radius: 10px;
    width: 485px;
    -moz-box-sizing: border-box;
    
}
td {
    /*border: 1px solid black;*/
}

[type='submit']{
    color: #6796b4;
    padding: 10px;
    border-radius: 10px;
    text-decoration: underline;
    font-weight: bold;
}
/*#footer { *//* Нижний блок */
                /*background: #333; *//**//* Цвет фона */
                /*padding: 5px; *//* Поля вокруг текста */
                /*color: #fff; *//* Цвет текста */
                /*clear: left; *//* Отменяем действие float */
                /*text-align:  center;*/
                /*position: absolute;*/
                /*width: 100%;*/
                /*bottom: 0%;*/

            /*}*/
#footer {
position: absolute;
top: 0;
}

#footer p {
              font-size: 10px;
}