body {

    background-color: #6796b4;
}
.radius {
    width: 600px;
    height: 700px;
    margin: 0 auto;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.11);
    border-radius:6px;
    -moz-border-radius:5px;
    -khtml-border-radius:10px;
    color: white;

}
