body {

    background-color: #6796b4;
}
.radius {
    width: 600px;
    height: 700px;
    /*margin: 0 auto;*/
    margin: auto auto auto;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.11);
    border-radius:6px;
    -moz-border-radius:5px;
    -khtml-border-radius:10px;
    color: white;
}
.page {
  max-width: 530px;
  margin: 150px auto;
}
.button {
    margin-right: 50%;
    margin-left: 150%;
}
p {
    margin: 0 auto;
    font-size: 200px;
    color: white;
}
a {
    position: absolute;
    border: solid ;
    text-decoration: none;
    color: white;
    border-left: 10px;
    border-right: 10px;
    padding: 10px 20px;
    margin:  10px 140px;
    -moz-margin-start: 170px;
}

.link {
     margin: 10px;
     width: 493px;

}

/*html, body, .page-wrapper{*/
/*height: 100%;*/
/*min-height: 100%;*/
/*}*/