{% extends 'main.html'%}
{% block form %}
<div class="container text-center col-xs-7 input-group">
    <form method="post">
        <input type="hidden" name="passwd">

        <input type="hidden" name="idsession">

        <textarea class='form-control input-large',  name="message" required placeholder="Enter you message...">{{ message }}</textarea>

        <input class="form-control" onclick="this.select()" class="link" type="url" value="{{ link }}" 
            readonly>

        <input class="btn btn-info form-control", type="submit", value="Generate">

    </form>
</div>


{% endblock %}
{% block footer %}{% endblock %}
