{% extends 'main.html'%}
{% block form %}
    <form method="post">

        <input type="hidden" name="passwd">
        <input type="hidden" name="idsession">
        <div class="radius">
            <textarea class='radius' , name="message" required placeholder="Enter you message...">{{ message }}</textarea>
            <table border="0">
                <tr>
                <td><input  type="submit" value="Generate"></td>
                <td><input  onclick="this.select()" class="link" type="url" value="{{ link }}" readonly></td>
                <td><input  type="hidden" value="Copy URL"></td>
                </tr>
            </table>
        </div>

    </form>
{% endblock %}